<footer class="text-center text-lg-start">

    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-2 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a target="_blank" href="https://www.facebook.com/people/Sandhaan-Aiims-Rishikesh-Student-Welfare-Association/100068924389600/" class="me-4 link-secondary">
         <i class="fa fa-brands fa-facebook "></i>
        </a>
        <a target="_blank" href="https://www.instagram.com/p/B_zRLp7DTCH/" class="me-4 link-secondary">
          <i class="fa fa-brands fa-instagram "></i>
        </a>
        <a target="_blank" href="https://www.youtube.com/@PyrexiaAIIMSRishikesh" class="me-4 link-secondary">
          <i class="fa fa-brands fa-youtube "></i>
        </a>
        <a target="_blank" href="https://www.linkedin.com/company/aiims-rishikesh-student-welfare-association/" class="me-4 link-secondary">
          <i class="fa fa-brands fa-linkedin "></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-2">
        <!-- Grid row -->
        <div class="row mt-2">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 mt-4">
            <!-- Content -->
            <img src="../assets/aiimslogo.png" alt="logo">
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-2">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              About us
            </h6>
            <p>
              <a routerLink="/about" class="text-reset">About</a>
            </p>
            <p>
              <a routerLink="/team" class="text-reset">Members</a>
            </p>
            <p>
              <a routerLink="/gallary" class="text-reset">Gallary</a>
            </p>
            <p>
              <a routerLink="/events" class="text-reset">Events</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-2">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a routerLink="/home" class="text-reset">Home</a>
            </p>
            <p>
              <a routerLink="/Join-us" class="text-reset">Join us</a>
            </p>
            <p>
              <a href="" class="text-reset">Registration</a>
            </p>
            <p>
              <a routerLink="/contact" class="text-reset">Contact</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-2">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-2">Contact</h6>
            <i class="fa fa-solid fa-home fa-lg"></i>
            <p>Virbhadra Road Shivaji Nagar, near Barrage, Sturida Colony, Rishikesh, Uttarakhand 249203</p>
            <p>
              <i class="fa fa-solid fa-envelope"></i>
              <br>
              studentwelfarebody@aiimsrishikesh.edu.in 
            </p>
            <p><i class="fa fa-solid fa-phone fa-lg"></i> <br> +91 9411108225</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.025);">
      © 2023-2024 :
      <a class="text-reset fw-bold" href="#">ARSWA</a> | 
      Designe & Developed by 
      <a class="text-reset fw-bold" href="#">Kasper Infotech Pvt. Ltd.</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
