  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <h1 class="modal-title fs-5" id="staticBackdropLabel"></h1> -->
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="registration">
                <div class="container m-auto d-flex gap-0 justify-content-center">
                    <!-- <div class="registration-left">
                        <div class="reg-img d-flex justify-content-end">
                            <img src="../../assets/pyrexia.png" alt="">
                        </div>
                    </div> -->
                    <div class="registration-Right">
                        <div class="registration-contant  ">
                            <h3 class="text-center">REGISTRATION</h3>
                            <form action="" class="d-flex flex-column gap-2" >
                                <div class="fName d-flex flex-column ">
                                    <label for="">First Name</label>
                                    <input type="text" >
                                </div>
                                <div class="lName d-flex flex-column ">
                                    <label for="">Last Name</label>
                                    <input type="text" >
                                </div>
                                <div class="Gender d-flex flex-column gap-2 ">
                                    <label class="gender-label" for="Gender">Gender :</label>
                                    <div class="gender-box d-flex gap-2  ">
                                        <div class="male d-flex flex-column">
                                            <input type="radio" name="Gender" id="Male">
                                            <label for="Gender">Male </label>
                                        </div>
                                        <div class="female d-flex flex-column">
                                            <input type="radio" name="Gender" id="Female">
                                            <label for="Gender">Female </label>
                                        </div>
                                        <div class="female d-flex flex-column">
                                            <input type="radio" name="Gender" id="Others">
                                            <label for="Gender">Others</label>
                                        </div>
                                    </div> 
                                  </div>
                                <div class="dob d-flex flex-column">
                                    <label for="DOB">Date of Birth</label>
                                    <input type="date" name="DOB" id="DOB">
                                  </div>
                                <div class="year d-flex flex-column">
                                    <label for="">Registration Year</label>
                                    <select id="Reg-Year">
                                        <option value="1st">1st Year</option>
                                        <option value="2nd">2nd Year</option>
                                        <option value="3rd">3rd Year</option>
                                        <option value="4th">4th Year</option>
                                        <option value="5th">5th Year</option>
                                      </select>
                                </div>
                                  <div class="email d-flex flex-column ">
                                    <label for="">Email</label>
                                    <input class="w-100" type="email" name="email" id="email">
                                  </div>
                                  <br>
                                  <div class="submit w-100">
                                    <input class="btn" type="submit" value="Register">
                                  </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>