.who {
    background:linear-gradient(rgba(255, 255, 255, 0.479), rgba(255, 255, 255, 0.911)) ,url(../../../assets/gallary/img59.jpeg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.who .container {
    padding: 4rem 0;
}
h2 {
    font-weight: 900;
    color: white;
    color: rgb(201, 20, 20);
    border-bottom: 1px solid rgb(207, 16, 16);
}
p {
    color: black;
}
