<div class="who">
    <div class="container p-3 m-auto" data-aos="fade-right">
        <h2>About us</h2>
        <p>
            The AIIMS Rishikesh Student Welfare Association (ARSWA) is an organization dedicated to improving the well-being of students at the All India Institute of Medical Sciences (AIIMS), Rishikesh. Through proactive initiatives and a student-centric approach, ARSWA plays a crucial role in creating a supportive and nurturing environment for the students. </p>
        <p>
            Rephrase The association emphasizes different aspects of student welfare. This includes providing academic support, organizing extracurricular activities, promoting mental health, and encouraging social engagement. ARSWA conducts regular workshops, seminars, and study groups to help students excel academically. These initiatives offer guidance, knowledge-sharing opportunities, and an enhanced learning experience for students. </p>
        <p>
            Recognizing the significance of holistic development, ARSWA also promotes extracurricular activities. These include organizing sports tournaments, cultural events, and competitions in order to provide students with recreation and self-expression opportunities. The diverse range of activities fosters camaraderie among students while promoting a balanced work-life dynamic. 
        </p>
        <p>
            Rephrase further more, the association places significant importance on promoting mental health and overall well-being. It actively conducts various awareness campaigns, engaging workshops focused on stress management, and dedicated counselling sessions to effectively address the psychological needs of the students. The ARSWA is committed to fostering a nurturing environment that encourages open dialogue and aims to dismantle the societal stigma surrounding mental health concerns. 
        </p>
        <p>
            In addition, ARSWA actively engages in various social welfare activities. These include organizing blood donation drives, health camps, and community outreach programs aimed at contributing to the overall well-being of society. By participating in these initiatives, students not only understand the importance of giving back but also develop a strong sense of social responsibility. 
        </p>
        <p>
            The AIIMS Rishikesh Student Welfare Association is vital for the overall development and well-being of the students. Its diverse initiatives not only enhance academic performance but also cultivate a strong sense of community, personal growth, and social responsibility among AIIMS Rishikesh students. 
        </p>
    </div>
</div>
