h5 {
    font-size: 1.5rem !important;
    color: rgb(255, 255, 255);

}
h1 {
    font-size: 5rem !important;
    color: rgb(230, 15, 15);
    text-shadow: -3px 3px 2px rgba(255, 255, 255, 0.884);
}
p {
    font-size: 1rem !important;
}
.hero {
    color: white;
    padding: 7rem 0;
    background:linear-gradient(rgba(17, 17, 17, 0.447), rgba(0, 0, 0, 0.623), rgba(0, 0, 0, 0.897)) ,url(../../assets/img2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.hero-btn {
    width: fit-content;
    margin:2rem auto;
}
.hero-btn a {
    color: white;
}

.btn:hover {
    transform: translateY(-5px);
    transition: 1s ease ;
}
@media screen and (max-width: 990px) {
    h1  {
        font-size: 4.5rem !important;
    }

}
@media screen and (max-width: 772px) {
    h1  {
        font-size: 4rem !important;
    }

}