<div class="hero">
    <div class="container m-auto d-flex flex-column jusify-contant-center aline-item-center text-center">
        <h5 class="mb-3">ॐ सर्वे भवन्तु सुखिनः । <br> सर्वे सन्तु निरामयाः ।
        </h5>
        <h1 class="mb-4">AIIMS (RISHIKESH) STUDENT WELLFARE ASSOCIATION</h1>
        <p class="mb-3">The AIIMS Rishikesh Student Welfare Association, is committed to enhancing the well-being of students at AIIMS Rishikesh. By adopting a student-centric approach and proactive initiatives, we create a supportive and nurturing environment for all.</p>
        <div class="hero-btn d-flex gap-5 jusify-contant-center aline-item-center">
            <a routerLink="/Join-us" class="btn btn-primary">Join us</a>
            <a routerLink="/contact" class="btn btn-outline-danger">Contact</a>
        </div>
    </div>
</div>