<nav id="home" class="navbar navbar-expand-lg p-0 bg-black">
    <div class="container">
      <div class="socialhandel">
        <a target="_blank" href="https://www.facebook.com/people/Sandhaan-Aiims-Rishikesh-Student-Welfare-Association/100068924389600/"> <i class="fa fa-brands fa-facebook fa-lg"></i></a>
        <a target="_blank" href="https://www.instagram.com/p/B_zRLp7DTCH/"> <i class="fa fa-brands fa-instagram fa-lg"></i></a>
        <a target="_blank" href="https://www.youtube.com/@PyrexiaAIIMSRishikesh"> <i class="fa fa-brands fa-youtube fa-lg"></i></a>
        <a target="_blank" href="https://www.linkedin.com/company/aiims-rishikesh-student-welfare-association/"> <i class="fa fa-brands fa-linkedin fa-lg"></i></a>
      </div>
    <a class="navbar-brand d-flex" routerLink="/home" href="#">
      <img   src="../../assets/aiimslogo.png" alt="logo">
      <h2>ARSWA</h2>
     </a>
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav m-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/home" href="#" aria-current="page">Home <span class="visually-hidden">(current)</span></a>
        </li>
        <div class="dropdown">
          <a
            class="dropdown-toggle"
            id="dropdownMenuButton"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            About us
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" routerLink="/About">About</a></li>
            <li><a class="dropdown-item" routerLink="/team">Members</a></li>
            <li><a class="dropdown-item" routerLink="/gallary">Gallary</a></li>
            <li><a class="dropdown-item" routerLink="/events">Events</a></li>
          </ul>
        </div>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Join-us">Join us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
      </ul>
      <div class="pirexia ms-auto d-flex gap-3 w-25">
        <a class="w-50" href=""><img class="w-100" src="../../assets/pirexiafestlogo.png" alt="pirexia"></a>
        <a class="register" href="">REGISTER</a>
      </div>
    </div>
  </div>
</nav>
<!-- NAVBAR END -->
