<div class="main">
    <div class="container">
        <div class="mainholder text-center">
            <h4>No Limits. No Boundaries.</h4>
            <div class="mid-contant">
                <h1 class="brand-top">PIREXIA</h1>
                <h1 class="brand-middle">PIREXIA</h1>
                <h1 class="brand-bottom">PIREXIA</h1>
            </div>   
            <h2>PREMIER</h2>    
            <h3>Coming Soon</h3>
        </div>
    </div>
</div>
<app-sponsors></app-sponsors>
<app-showcase></app-showcase>