<app-accomodations></app-accomodations>
<div class="accomodation p-2">
    <div class="container m-auto d-flex flex-column gap-3">
        <div class="ac-block d-flex">
            <div class="block-left">
                <div class="block-img">
                    <img src="../../assets/accomodations/img1.jpg" alt="img">
                </div>
            </div>
            <div class="block-right d-flex flex-column">
                <h3>CAMPUS</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Consectetur id vel enim autem, dolores laudantium.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Aliquid optio a, repudiandae harum dolores laudantium.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Aliquid optio a, repudiandae harum dolores laudantium.</p>
                <a href class="read-btn">Read More →</a>
            </div>
        </div>
    </div>
</div>
