<div class="our-team p-5 ">
    <div class="container m-auto d-flex flex-column m-auto text-center text-center col-lg-12 p-2">
        <h2 class="mb-5 mt-2">Members of ARSWA 2023-24</h2>
        <div class="team-members d-flex m-auto gap-2 flex-wrap">
            <div class="main-team-1 TEJ">
                <div class="content">
                    <h5>TEJ PRAKASH <br> MITTAL</h5>
                    <p>Presedent</p>
                </div>
            </div>
            <div class="main-team-1 ANUSHA">
                <div class="content">
                    <h5>ANUSHA <br> JOHARY</h5>
                    <p>Vice Presedent</p>
                </div>
            </div>
            <div class="main-team-1 ANKUR">
                <div class="content">
                    <h5>ANKUR <br> SHARMA</h5>
                    <p>General Secretary</p>
                </div>
            </div>
            <div class="main-team-1 AKANKSHA">
                <div class="content">
                    <h5>AKANKSHA <br> GAUTAM</h5>
                    <p>Finance Secretary</p>
                </div>
            </div>
            <div class="main-team-1 SHEEMA">
                <div class="content">
                    <h5>SHEEMA <br> CHARAN</h5>
                    <p>Cultural Secretary</p>
                </div>
            </div>
            <div class="main-team-1 HARSHUL">
                <div class="content">
                    <h5>HARSHUL <br> SOOD</h5>
                    <p>IT Secretary</p>
                </div>
            </div>
            <div class="main-team-1 HARIKRISHNAN">
                <div class="content">
                    <h5>HARIKRISHNAN <br> KODAMANA</h5>
                    <p>Literary Secretary</p>
                </div>
            </div>
            <div class="main-team-1 DEEPAK">
                <div class="content">
                    <h5>DEEPAK <br> BHARDWAJ</h5>
                    <p>MESS Secretary</p>
                </div>
            </div>
            <div class="main-team-1 PRANJAL">
                <div class="content">
                    <h5>PRANJAL <br> AGRAWAL</h5>
                    <p>MESS Secretary</p>
                </div>
            </div>
            <div class="main-team-1 SAMRATH">
                <div class="content">
                    <h5>SAMRATH <br> KERWAL</h5>
                    <p>Hostel Secretary</p>
                </div>
            </div>
            <div class="main-team-1 ABHILASHA">
                <div class="content">
                    <h5>ABHILASHA <br> SINGH</h5>
                    <p>Hostel Secretary</p>
                </div>
            </div>
            <div class="main-team-1 DHAWANI">
                <div class="content">
                    <h5>DHAWANI <br> BANTHIA</h5>
                    <p>Sports Secretary</p>
                </div>
            </div>
            <div class="main-team-1 SHASHANK">
                <div class="content">
                    <h5>SHASHANK <br> BHATI</h5>
                    <p>Magazine Secretary</p>
                </div>
            </div>
            <div class="main-team-1 CHETNA">
                <div class="content">
                    <h5>CHETNA <br> SINGH</h5>
                    <p>FINE ART Secretary</p>
                </div>
            </div>
        </div>
    </div>
</div>