.container {
    backdrop-filter: blur(5px);
}
.our-team {
    background: linear-gradient(rgba(0, 0, 0, 0.411), rgba(0, 0, 0, 0.123)),url(../../assets/team/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.team-main {
    justify-content: space-between;
}
.main-team-1 {  
    height: 250px;
    background-color: rgb(12, 52, 126) !important;
    width: 200px ;
    padding: 1rem .5rem;
    box-shadow: -8px 8px 20px rgba(227, 243, 243, 0.584), 3px -3px 5px rgba(155, 154, 154, 0.459);
    margin:.5rem auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    transition: .8s;
}
.main-team-1:hover {  
    background-color: rgb(226, 18, 18) !important;
    transition: .8s;
}
.TEJ {
    width: 400px;
    background:linear-gradient(rgba(163, 18, 168, 0.514), rgba(219, 134, 7, 0.247)),url(../../assets/team/img1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.TEJ h5 {
    color: goldenrod;
    font-size: 1.5rem !important;
    line-height: normal;
    padding: 0;
    text-shadow: -3px 3px 2px rgba(10, 9, 9, 0.747);
}
.TEJ p {
    color: white;
    font-size: 1.3rem !important;
    line-height: normal;
    padding: 0; margin-bottom: 0;
    text-shadow: -3px 3px 3px black;
}
.ANUSHA {
    background:linear-gradient(180deg, rgba(255, 0, 0, 0.585),rgba(0, 0, 255, 0.385),rgb(255, 255, 255)), url(../../assets/team/img2.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}
.ANKUR {
    background:linear-gradient(180deg, rgba(255, 0, 0, 0.585),rgba(0, 0, 255, 0.385),rgb(255, 255, 255)), url(../../assets/team/img3.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}
.AKANKSHA {
    background:linear-gradient(180deg, rgba(255, 0, 0, 0.585),rgba(0, 0, 255, 0.385),rgb(255, 255, 255)), url(../../assets/team/img4.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}
.SHEEMA {
    background:linear-gradient(180deg, rgba(255, 0, 0, 0.585),rgba(0, 0, 255, 0.385),rgb(255, 255, 255)), url(../../assets/team/img5.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}
.HARSHUL {
    background:linear-gradient(180deg, rgba(255, 0, 0, 0.585),rgba(0, 0, 255, 0.385),rgb(255, 255, 255)), url(../../assets/team/img6.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}
.HARIKRISHNAN {
    background:linear-gradient(180deg, rgba(255, 0, 0, 0.585),rgba(0, 0, 255, 0.385),rgb(255, 255, 255)), url(../../assets/team/img7.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}
.DEEPAK {
    background:linear-gradient(180deg, rgba(255, 0, 0, 0.585),rgba(0, 0, 255, 0.385),rgb(255, 255, 255)), url(../../assets/team/img8.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}
.PRANJAL {
    background:linear-gradient(180deg, rgba(255, 0, 0, 0.585),rgba(0, 0, 255, 0.385),rgb(255, 255, 255)), url(../../assets/team/img9.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}
.SAMRATH {
    background:linear-gradient(180deg, rgba(255, 0, 0, 0.585),rgba(0, 0, 255, 0.385),rgb(255, 255, 255)), url(../../assets/team/img10.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}
.ABHILASHA {
    background:linear-gradient(180deg, rgba(255, 0, 0, 0.585),rgba(0, 0, 255, 0.385),rgb(255, 255, 255)), url(../../assets/team/img11.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}
.DHAWANI {
    background:linear-gradient(180deg, rgba(255, 0, 0, 0.585),rgba(0, 0, 255, 0.385),rgb(255, 255, 255)), url(../../assets/team/img12.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}
.SHASHANK {
    background:linear-gradient(180deg, rgba(255, 0, 0, 0.585),rgba(0, 0, 255, 0.385),rgb(255, 255, 255)), url(../../assets/team/img13.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}
.CHETNA {
    background:linear-gradient(180deg, rgba(255, 0, 0, 0.585),rgba(0, 0, 255, 0.385),rgb(255, 255, 255)), url(../../assets/team/img14.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}

h5 {
    margin: 0 !important;
    padding: .5rem;
    line-height: 1.2rem;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 3px black;
    font-weight: 600;
}
p { 
    margin: 0 !important;
    font-size: .9rem !important;
    color: rgb(0, 0, 0);
    font-weight: 600;
    text-transform: uppercase;
}
h2 {
    font-weight: 900;
    text-transform: uppercase;
    color: rgb(216, 19, 19);
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1px;
}
.logo {
    background: transparent !important;
    box-shadow:none !important;
    width: 400px !important;
    line-height: 2rem !;
}
.logo:hover {
    scale: 1;
}
.logo img {
    width: 150px;
    height: 150px;
    border: 2px solid gray;
    background-color: white;
}
.logo p {
    font-weight: 900;
    font-size: 1.5rem !important;
    color: white;
}
.president-hide {
    display: none;
}
@media screen and (max-width: 1017px) {
    .president-block {
        display: none;
    }
    .president-hide {
        display: block;
    }
    .logo {
        width: 100% !important;
    }
  }
@media screen and (max-width: 520px) {
    .TEJ {
        width: 200px;
        background:linear-gradient(rgba(163, 18, 168, 0.514), rgba(219, 134, 7, 0.247)),url(../../assets/team/img1.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .TEJ h5 {
        color: goldenrod;
        font-size: 1.5rem !important;
        line-height: normal;
        padding: 0;
        text-shadow: -3px 3px 2px rgba(10, 9, 9, 0.747);
    }
    .TEJ p {
        color: white;
        font-size: 1.3rem !important;
        line-height: normal;
        padding: 0; margin-bottom: 0;
        text-shadow: -3px 3px 3px black;
    }
  }
@media screen and (max-width: 302px) {
    .our-team{
        padding: auto 0 !important;
    }
  }
