<div class="sponsors p-2 m-4">
    <div class="container m-auto">
        <h2>SPONSORS</h2>
        <div class="spon-group d-grid">
            <div class="spon d-flex">
                <a class="kasper" href=""><img src="../../assets/Sponsors/Kasper.png" alt=""></a>
            </div>
            <div class="spon d-flex">
                <a href=""><img src="../../assets/Sponsors/pnb.png" alt=""></a>
            </div>
            <div class="spon d-flex">
                <a href=""><img src="../../assets/Sponsors/Dominos.png" alt=""></a>
            </div>
            <div class="spon d-flex">
                <a href=""><img src="../../assets/Sponsors/cipla.png" alt=""></a>
            </div>
            <div class="spon d-flex">
                <a href=""><img src="../../assets/Sponsors/google.png" alt=""></a>
            </div>
            <div class="spon d-flex">
                <a href=""><img src="../../assets/Sponsors/mankind.png" alt=""></a>
            </div>
            <div class="spon d-flex">
                <a href=""><img src="../../assets/Sponsors/microsoft.png" alt=""></a>
            </div>
            <a href="" class="sp-btn spon d-flex flex-column gap-0">
                <p>Become a <br>
                <span>SPONSOR</span></p>
            </a>
        </div>
    </div>
</div>
