.acmolinks {
    margin: 1rem 0;
    padding: 1rem;
}
 .container {
    justify-content: center;
    align-items: center;
}
.nav-link {
    color: black;
    font-size: 1REM;
    font-weight: 500;
}
.nav-link:hover {
    color: rgb(189, 10, 10);
    border-color: red;
}
h2 {
    color: transparent;
    -webkit-text-stroke-width: 2px;
    letter-spacing: 10px;
    -webkit-text-stroke-color: rgba(127, 128, 125, 0.836);
    font-weight: 900;
}