<div class="acmolinks m-4">
    <div class="container m-auto flex-column d-flex gap-4">
        <h2>ACCOMODATIONS</h2>
            <ul class="nav nav-tabs d-flex flex-row">
                <li class="nav-item">
                  <a class="nav-link active" routerLink="/acomodations/campus" href="#">CAMPUS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/acomodations/hostel" href="#">HOSTEL</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/acomodations/canteen" href="#">CANTEEN</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/acomodations/scholorship" href="#">SCHOLORSHIP</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/acomodations/library" href="#">LIBRARY</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/acomodations/gym" href="#">GYM</a>
                </li>
              </ul>
    </div>
    <router-outlet> </router-outlet>
</div>
